@import '~colors.scss';

.wrapper {
  cursor: pointer;
  height: 40px;
  right: 10px;
  position: absolute;
  top: 10px;
  width: 40px;
}

.icon {
  height: 20px;
  left: 4px;
  position: absolute;
  top: 9px;
  width: 30px;
}

.iconLineOne {
  background-color: $dark-grey;
  height: 2px;
  left: 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 9px;
  transform: rotate(45deg);
  width: 20px;
}

.iconLineTwo {
  composes: iconLineOne;
  transform: rotate(-45deg);
}
