@import './../../../styles/colors';
@import './../../../styles/variables';

.wrapper {
  height: 60px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 600;
}

.content {
  background-color: $white;
  border-bottom: 1px solid $dark-grey;
  display: inline-block;
  height: 100%;
  position: relative;
  max-width: $max-content-width;
  width: 100%;
}

.title {
  color: $dark-grey;
  font-size: 18px;
  margin: 16px 0 0;
}
