@import '~colors.scss';

.wrapper {
  display: none;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  top: 50vh;
  transform: translateZ(0);
  width: 60px;
}

.wrapperShow {
  composes: wrapper;
  display: block;
}

.message {
  float: left;
  font-size: 18px;
  margin: 80px 0 0 -70px;
  position: absolute;
  text-align: center;
  width: 200px;
}

.loader {
  animation: spin .7s infinite linear;
  border-bottom: 4px solid $light-grey;
  border-left: 4px solid $dark-grey;
  border-radius: 50%;
  border-right: 4px solid $light-grey;
  border-top: 4px solid $light-grey;
  height: 100%;
  position: absolute;
  width: 100%;

  &::after {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
