html,
body {
  background-color: white;
  box-sizing: border-box;
  color: #232323;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  height:100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, .5);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -.02em;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: navigationDirection;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  appearance: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.app-wrapper {
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.app-container {
  display: inline-block;
  height: 100%;
  max-width: 650px;
  position: relative;
  width: 100%;
}
