.wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}

.content {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.bookContent {
  font-size: 20px;
  margin: 80px 0 0 20px;
  position: relative;
  width: 100%;
}

.bookContentDraggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  height: 100%;
  position: absolute;
  touch-action: auto;
  width: 100%;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  iframe {
    font-size: 20px;
    line-height: 1.5em;
    pointer-events: none;
  }
}

.bookContentWrapper {
  float: left;
  position: relative;
  width: 100%;
}
